PORT=4000
NODE_ENV=development
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/shiftsync?retryWrites=true&w=majority
ACCESS_TOKEN_SECRET=change-me-access
REFRESH_TOKEN_SECRET=change-me-refresh
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=7
CLIENT_ORIGIN=http://localhost:5173
SHIFT_EDIT_CUTOFF_HOURS=48
SEED_PASSWORD=Password123!
